/* Tailwind */

body {
	@apply  bg-[#111111]
}

.md div {
	@apply space-y-3
}

.md ul {
	@apply list-disc list-inside
}

.md ol {
	@apply list-decimal list-inside
}

/* CSS */

.dark {
	--color-primary-DEFAULT: var(--color-primary-500) !important;
}

.dark\:text-primary-400:is(.dark *) {
	color: rgb(var(--color-primary-500) / var(--tw-text-opacity, 1));
}

.dark\:disabled\:text-primary-400:disabled:is(.dark *) {
	color: rgb(var(--color-gray-500) / var(--tw-text-opacity, 1));
}