@import "tailwindcss";
@import "@nuxt/ui";

/* Tailwind */

@theme static {
	--color-primary-50: #fffeea;
	--color-primary-100: #fffac5;
	--color-primary-200: #fff685;
	--color-primary-300: #ffea46;
	--color-primary-400: #ffc526;
	--color-primary-500: #ffbb00;
	--color-primary-600: #e29000;
	--color-primary-700: #bb6502;
	--color-primary-800: #984e08;
	--color-primary-900: #7c400b;
	--color-primary-950: #482100;

	--full-nav: calc(100vh - 4rem);
}

@theme {
	--font-sans: "Geist", sans-serif;
}

body {
	@apply  bg-[#111111]
}

.md div {
	@apply space-y-3
}

.md ul {
	@apply list-disc list-inside
}

.md ol {
	@apply list-decimal list-inside
}

.md h1 {
	@apply text-3xl font-bold
}

.md h2 {
	@apply text-2xl font-bold
}

.md h3 {
	@apply text-xl font-bold
}

.md p {
	@apply text-base
}

/* CSS */

.dark {
	--color-primary-DEFAULT: var(--color-primary-500) !important;
}

.dark\:text-primary-400:is(.dark *) {
	color: rgb(var(--color-primary-500) / var(--tw-text-opacity, 1));
}

.dark\:disabled\:text-primary-400:disabled:is(.dark *) {
	color: rgb(var(--color-neutral-500) / var(--tw-text-opacity, 1));
}

.stripe-gradient {
	background: repeating-linear-gradient(
		45deg,
		var(--ui-color-neutral-900),
		var(--ui-color-neutral-900) 5px,
		var(--ui-color-neutral-800) 5px,
		var(--ui-color-neutral-800) 10px /* cool stripy gradient */
	);
}