@import "tailwindcss";
@import "@nuxt/ui";

/* Tailwind */

@theme static {
	--color-primary-50: #fffeea;
	--color-primary-100: #fffac5;
	--color-primary-200: #fff685;
	--color-primary-300: #ffea46;
	--color-primary-400: #ffc526;
	--color-primary-500: #ffbb00;
	--color-primary-600: #e29000;
	--color-primary-700: #bb6502;
	--color-primary-800: #984e08;
	--color-primary-900: #7c400b;
	--color-primary-950: #482100;

	--full-nav: calc(100vh - 4rem);
}

@theme {
	--font-sans: "Geist", sans-serif;

	--color-lime-50: oklch(0.99 0.034 114.08);
	--color-lime-100: oklch(0.982 0.06 116.49);
	--color-lime-200: oklch(0.958 0.122 120.3);
	--color-lime-300: oklch(0.923 0.16 123.32);
	--color-lime-400: oklch(0.876 0.189 126.81);
	--color-lime-500: oklch(0.806 0.196 129.52);
	--color-lime-600: oklch(0.742 0.192 128.92);
	--color-lime-700: oklch(0.631 0.161 127.35);
	--color-lime-800: oklch(0.486 0.121 124.72);
	--color-lime-900: oklch(0.319 0.077 121.06);
	--color-lime-950: oklch(0.206 0.048 117.22);
}

body {
	@apply bg-[#111111];
}

.md div {
	@apply space-y-2;
}

.md ul {
	@apply list-disc list-inside;
}

.md ol {
	@apply list-decimal list-inside;
}

.md h1 {
	@apply text-3xl font-bold;
}

.md h2 {
	@apply text-2xl font-bold;
}

.md h3 {
	@apply text-xl font-bold;
}

.md p {
	@apply text-base;
}

.md a {
	@apply text-primary-500 hover:underline;
}

/* CSS */

.dark {
	--color-primary-DEFAULT: var(--color-primary-500) !important;
}

.dark\:text-primary-400:is(.dark *) {
	color: rgb(var(--color-primary-500) / var(--tw-text-opacity, 1));
}

.dark\:disabled\:text-primary-400:disabled:is(.dark *) {
	color: rgb(var(--color-neutral-500) / var(--tw-text-opacity, 1));
}

.stripe-gradient {
	background: repeating-linear-gradient(
		45deg,
		var(--ui-color-neutral-900),
		var(--ui-color-neutral-900) 5px,
		var(--ui-color-neutral-800) 5px,
		var(--ui-color-neutral-800) 10px /* cool stripy gradient */
	);
	transition: filter 0.15s ease;
}

.stripe-gradient:hover {
	filter: brightness(1.2);
}